<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="example"></div>
  <script src="../../build/react.js"></script>
  <script src="../../build/react-dom.js"></script>
  <script src="../../build/browser.min.js"></script>

  <script type="text/babel">
   class Hello extends React.Component{
     constructor(){
       super();
       this.state ={ 
         opacity:1.0
       }
     }
     componentDidMount(){
      this.timer = setInterval(function () {
            var opacity = this.state.opacity;
            opacity -= .05;
            if (opacity < 0.1) {
              opacity = 1.0;
            }
            this.setState({
              opacity: opacity
            });
          }.bind(this), 100);
        }
     render(){
       return(
        <div style={{opacity: this.state.opacity}}>
              Hello {this.props.name}
            </div>
       )
     }
   }
 
    ReactDOM.render( 
      <Hello name="world" />, document.getElementById('example'));
  </script>
</body>

</html>